<div class="wrapper">
	<div class="frame-wrapper">
		<div class="frame">
			<div class="mat">
				<img src="http://photographyinspired.com/wp-content/uploads/2013/12/30-Best-Examples-of-Black-and-White-Photography4.jpg" alt="" />
			</div>
		</div>
	</div>
</div>
<style>
	.wrapper {
		width: 50%;
		margin: 40px auto;
	}
	.wrapper .frame-wrapper {
		position: relative;
		box-shadow: rgba(0, 0, 0, 0.29804) -7px 10px 30px -2px;
	}
	.wrapper .frame-wrapper:before {
		position: absolute;
		content: '';
		margin-top: 4px;
		margin-left: -18px;
		height: 55px;
		width: 35px;
		z-index: -1;
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg);
		background: -webkit-linear-gradient(left, transparent 0%, rgba(255, 0, 0, 0.05) 100%);
		background: linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.05) 100%);
	}
	.wrapper .frame-wrapper:after {
		position: absolute;
		content: '';
		bottom: -13px;
		right: 12px;
		height: 55px;
		width: 35px;
		z-index: -1;
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg);
		background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.1) 95%);
		background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.1) 95%);
	}
	.wrapper .frame-wrapper .frame {
		border-style: solid;
		border-width: 60px;
		padding-top: 1px;
		-webkit-border-image: url(https://s3-us-west-2.amazonaws.com/theframerydemo/3DImage.jpg) 100 repeat;
		-o-border-image: url(https://s3-us-west-2.amazonaws.com/theframerydemo/3DImage.jpg) 100 repeat;
		border-image: url(https://s3-us-west-2.amazonaws.com/theframerydemo/3DImage.jpg) 100 repeat;
		border-style: solid;
	}
	.wrapper .frame-wrapper .mat {
		background-image: url(https://s3-us-west-2.amazonaws.com/theframerydemo/WhiteMatboard.jpg);
		background-repeat: repeat;
		padding: 10%;
		box-shadow: 1px -1px 1px 2px rgba(0, 0, 0, 0.75);
	}
	.wrapper .frame-wrapper .mat img {
		width: 100%;
		height: 100%;
		vertical-align: top;
		box-shadow: 1px -1px 1px 2px rgba(0, 0, 0, 0.75);
	}

</style>